.card__wrapper {
  margin-top: 5rem;
}

.card__title {
  font-size: 2.3rem;
}

.card__subtitle {
  color: rgb(163, 162, 162);
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.card__children {
  margin: 3rem 0;
}
