.radio__cards {
  width: 12rem;
  padding: 1.5rem;
  margin: 0 3px;
  border-radius: 5px;
  border: 1px solid #bdc5d6;
  text-align: start;
}

.radio__cards h3 {
  margin: 1rem 0;
}

.radio__cards p {
  color: rgb(163, 162, 162);
}

.card-selected {
  border: 2px solid #5a4ad191;
  padding: 1.4rem;
}
