::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bdc5d6;
}

.inputBase {
  margin: 2rem 0 1rem;
  text-align: left;
  min-width: 28rem;
}

.label {
  display: inline-flex;
  font-size: 1.2rem;
  font-weight: 500;
  color: #777;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  border: 1px solid #bdc5d6;
  border-radius: 0.5rem;
  padding: 1rem 1.2rem;
}

.input:focus {
  outline: none;
}

.input__wrapper {
  display: flex;
  flex-direction: row;
  border: 1px solid #bdc5d6;
  border-radius: 0.5rem;
}

.input__wrapper span {
  background-color: #bdc5d646;
  padding: 1rem 1.2rem;
  color: rgb(163, 162, 162);
  font-weight: 500;
}

.input__wrapper input.input {
  border-radius: 0;
  border: none;
  border-left: 1px solid #bdc5d6;
}
